*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;


}
input{
	outline: none;
	border: none;
}
button{
	outline: none;
	border: none;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
nav{
	width: 100%;
	display: flex;
	background: #F8F8F8;
	height: 70px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
	border-bottom: 1px solid #E8E8E8;
}
#container{
	display: flex;
	width: 100%;
}
.sideone{
	display: flex;
	width: 35%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}
.head_one{
	width: 8%;
	height: 30px;
	font-size: 60px;
	text-transform: capitalize;
	font-family: sans-serif;
	margin-top: -35px;
}
.input_one{
	height: 40px;
	width: 60%;
	background:#EDEDED;

}
.input_one input{
	width: 100%;
	height: 100%;
	padding: 7px;
	background: transparent;
	outline: none;
	border: none;

}
.next_input{
	width: 10%;
	height: 35px;
	
	text-align: center;
	display: flex;
}
.next_input button{
	width: 100%;
	height: 100%;
	background:#2A3548;
	color: #ffffff;
	font-size: 13px;
	border-radius: 4px;

}
.side_two{
	
	width: 20%;
	height: 100%;
	gap: 30px;
	align-self: flex-end;
}



.profile_notification{
	width: 90%;
	height: 90%;
	display: flex;
	gap: 15px;
	padding-top: 10px;
	align-items: center;
	font-size: 18px;

}
.profile_notification p{
	font-size: 15px;

}


.small_profile{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;

}
.small_profile img{
	border-radius: 50%;
}
#x_left{
	width: 15%;
	height: auto;
	background: #F8F8F8;
	border-right: 1px solid #E8E8E8;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 18px;
	padding-top: 10px;
}
#x_left h1{
	font-weight: 600;
	font-size: 24px;
}
.analytic{
	display: flex;
	padding-left: 10px;
	font-size: 16px;
	text-align: center;
	width: 70%;
	font-weight: 500;
}
.analytic i{
	color:black ;
	text-align: center;

}
.jj{
	display: flex;
	align-items: center;
	gap: 14px;
}
.analytic a{
	text-decoration: none;
	color: black;
}
#axis_center{
	display: flex;
	width: 70%;
	flex-direction: column;
	padding: 20px 10px;
	
	gap: 20px;
	


}
.one_axis{
	width: 99%;
	display: flex;
	justify-content: space-between;
	
}
.trucks{
	display: flex;
	flex-direction: column;
	width: 60%;
	border-radius: 7px;
	gap: 2px;
	height: auto;
	background: #F0F0F0;
	padding-left: 17px;
}
.line{
	display: flex;
	flex-direction: column;
	
}
.fff{
	display: flex;
	justify-content: space-between;
	width: 90%;

}
.mmm{
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 100%;
}
.qqqq{
	display: flex;
	flex-direction: column;
	width: 22%;
	line-height: 2px;
	font-size: 13px;
	font-weight: 600;
}
.qqqq i{
	width: 22%;
	line-height: 2px;
	font-size: 18;
}	

.xy{
	display: flex;
	flex-direction: column;
	width: 22%;
	line-height: 1px;
	font-size: 14;
}
.iiii{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:7px;
	font-size: 15px;
	text-transform:600;
}
.iiii i{
	font-size: 18px;
	color: #E3B221;
	}
.fff p{
	color:#E3B221;
	
}
.line{
	width: 34%;
	display: flex;
	flex-direction: column;
	background: #F0F0F0;
	height: auto;
	border-radius: 7px;
	gap: 20px;
}
.graphy{
	width: 80%;
	height: 70%;
	margin: 0px auto;
	padding-top: 30px;
	
	
}
#myChart.graphy{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
.dollar{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0px auto;
	
}
.dollar h1 i{
	color: orange;
}
.opop i{
	color: #2A3548;
}
.iiui i{
	color: ;
}
.dollar h2{
	font-size: 20px;
}
#my_leftside{
	display: flex;
	flex-direction: column;
	width: 20%;
	background: #F0F0F0;
	float: right;
	border-left: 1px solid #E8E8E8;
	padding-top: 20px;
	padding-left: 10px;
	

	

}
.next_graphy{
	display: flex;
	display: flex;
	flex-direction: column;
	width: 60%;
	border-radius: 7px;
	gap: 2px;
	height: 50%;
	background: #F0F0F0;
	padding-left: 17px;
}
.down_next{

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.down_next .trucks{
	display: flex;
	flex-direction: column;
	width: 60%;
	border-radius: 7px;
	gap: 2px;
	height: auto;
	background: #F0F0F0;
	padding-left: 17px;

}
#top_x_div{
	width: 100%;
	height: 100%;
	

}
.trucks_one{
	display: flex;
	flex-direction: row;
	width: 99%;
	border-radius: 7px;
	gap: 2px;
	justify-content: space-between;
	height: auto;
	background: #F0F0F0;
	padding-left: 17px;
	padding:15px  10px;
}
#top_x_div{
	width: 120px;
	height: fit-content;

}
.category{
	height: fit-content;
}
.category h1{
	
	font-size: 20px;
	
	color: black;
	text-transform: capitalize;
}
#tails{
	width: 98%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 20px;
	background: white;
	height: auto;
	margin: 0px auto;
	align-items: center;
}
#tails h1{
	font-size: 26px;
	color: #E3B221;
}
#tails p{
	color:#E3B221 ;
	font-size: 18px;
}
#big_view{
	
	width: 40%;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	padding: 3px 3px;
}
.trtrt{
	display: flex;
	

}
.trtrt li{
	display: block;
	padding: 3px;
	font-size: 14px;
}
.exe{
	font-size: 14px;
	color: grey;
}
.exe i{
	padding-right: 10px;
	color: grey;

}
#top_one_left{
	width: 90%;
	display: flex;
	flex-direction: column;
	background: #2A3548;
	border-radius: 6px;
	height: fit-content;
	padding-left: 10px;

}
#top_one_left h1{
	color: orange;
	font-size: 45px;
	line-height: 5px;
}
#top_one_left p{
	font-size: 10px;
	color: #949AA3;
}
#last_img{
	width: 90%;
	display: flex;
	margin: 0px auto;
}
.umuline{
	width: 80%;
	display: flex;
	margin: 0px auto;
}
.tumber{
	width: 80%;
	display: flex;
	margin: 0px auto;
}
.tumber p{
	font-size: 10px;
	color:#949AA3;
}
#sml_tumber{
	display: flex;
	align-items: center;
	gap: 7px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#sml_tumber h1{
	font-size: 11px;
	color: white;

}
#youheard{
	width: 100%;
	display: flex;
	padding-left: 10px;
	margin-top: 30px;
}
.amazing{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	background: #F0F0F0;
	padding: 10px 4px;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
.amazing_one
{
	display: flex;
	width: 60%;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
}
.amazing_two{
	display: flex;
	width: fit-content;
	border-radius: 40px;
	color: black;
	background: #E3B221;
	height: 28px;
	padding-right: 6px;
	align-items: center;
	padding-left: 7px;
	margin-right: 10px;


}
#all{

	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 10px;
}
.piiu{
	display: flex;
	align-items: center;
	gap: 12px;
}
.final{
	display: flex;
	width: 90%;
	flex-direction: column;
	border: 1px solid orange;
	background:#F0F0F0 ;
	margin-top: 20px;
	line-height:1px;
	padding-left: 10px;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.final h2{
	font-weight: 600;
	font-size: 16px;
}
.final h3{
	padding-top: 30px;
	padding-left: 60%;
	font-size: 12px;

}
/*Responsive Web Design is about using HTML and CSS to automatically resize, hide, shrink, or enlarge,*/
 /*a website, to make it look good on all devices (desktops, tablets, and phones):*/

@media (max-width: 500px){

	nav{
	
	padding: 0px 0px;
	gap: 5px;

}
.head_one{
	font-size: 26px;
	padding-top: 20px;
}
.next_input{
	width: 25%;
	height: 35px;
	
	text-align: center;
	display: flex;
}
.side_two{
	
	width: 70%;
	height: 100%;
	gap: 1px;
	align-self: flex-end;
}
.profile_notification{
	width: 100%;
	height: 90%;
	display: flex;
	gap: 1px;
	padding-top: 10px;
	align-items: center;
	font-size: 18px;

}
.next_input{
	width: 34%;
	height: 35px;
	
	text-align: center;
	display: flex;
}
.input_one{
	height: 40px;
	width: 80%;
	background:#EDEDED;

}
.trucks{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 7px;
	gap: 2px;
	height: auto;
	background: #F0F0F0;
	padding-left: 0px
}
.one_axis{
	width: 99%;
	display: flex;
	gap: 10px;
	
}
.mmm{
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 100%;

}
.qqqq{
	display: flex;
	flex-direction: column;
	width: 40%;
	line-height: 2px;
	font-size: 8px;
	font-weight: 600;
	line-height: 20px;

}
.qqqq i{
	width: 22%;
	line-height: 2px;
	font-size: 12;
}
.xy{
	width: fit-content;
	line-height: 20px;
}	
#x_left{
	width: 27%;
	height: auto;
	background: #F8F8F8;
	border-right: 1px solid #E8E8E8;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 22px;
	padding-top: 10px;
}
#x_left h1{
	
	font-size: 19px;
	width: fit-content;
}
.analytic{
	display: flex;
	padding-left: 2px;
	font-size: 16px;
	text-align: center;
	width: fit-content;
	align-self: flex-start;

}
.jj{
	display: flex;
	align-items: center;
	gap: 0px;
}
.line{
	width: 34%;
	display: flex;
	flex-direction: column;
	background: #F0F0F0;
	height: auto;
	border-radius: 7px;
	gap: 20px;
}
.graphy{
	width: 100%;
	height: 90%;
	margin: 0px auto;
	padding-top: 30px;
	
	
}
#myChart{
	width: fit-content;
	height: fit-content;
}
.dollar{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px auto;
	
}
.trucks_one{
	display: flex;
	flex-direction: column;
	width: 99%;
	border-radius: 7px;
	gap: 2px;
	justify-content: space-between;
	height: auto;
	background: #F0F0F0;
	padding-left: 17px;
	padding:15px  10px;
}
.tails h1{
	width: fit-content;

}
#big_view{
	
	width: 90%;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	padding: 3px 3px;
}
#columnchart_material{
	width: fit-content;
}
}